.banner {
    margin-top:20px;
    margin-left:30px;
    display: flex;
    flex-direction: column;
}
.banner-text {
    margin: auto;
    font-weight: 600;
    font-family: "Work Sans" , sans-serif;
    color:$whiteColor;
    font-size: 28px;
}
.banner-description {
    color:$whiteColor;
    font-family: "Work Sans" , sans-serif;
    font-size: 17px;
}
.banner-card {
    width:315px;
    height: 100%;
    border-radius: 20px 20px 20px 20px;
    background-color: $secondaryBackground;
    margin: auto;
    margin-left: 0;
}
.card-image{
    width:315px;
    height: 216px;
    border-radius: 20px 20px 0px 0px ;
}
.card-description {
    margin-left: 15px;
    font-weight: 600;
    font-size: 22px;
    font-family: "Work Sans" , sans-serif;
    color:$whiteColor;
    margin-bottom: 0;
}
.user-container {
    display: flex;
    align-items: center;
    gap:10px;
    margin-left: 15px;
}
.user-image {
    width:24px;
    height: 24px;
    border-radius: 50%;
}
.user-text {
    font-family: "Work Sans" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $whiteColor;
}
.text-start {
    font-weight: 600;
     font-family: "Work Sans" , sans-serif;
    font-size: 16px;
    color: $whiteColor;
}
.banner-button{
    width: 315px;
    height: 60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:12px;
    border: none;
    background-color: $purpleLightColor;
    margin-top: 40px;
}
.banner-rating {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.rating-span {
    font-weight: 700;
    font-size: 22px;
    font-family: 'Space Mono', monospace;
}
.rating-text {
    display: flex;
    flex-direction: column;
    color:$whiteColor;
}