@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
header {
  width: 375px;
  height: 54px;
  margin: auto;
  display: flex;
}

nav {
  display: flex;
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 20px;
}

li {
  list-style: none;
  color: white;
}

li:nth-child(1) {
  display: flex;
  gap: 20px;
}

.logo-text {
  color: #FFFFFF;
  font-family: "Space Mono", monospace;
  width: 150px;
  font-weight: bold;
}

.nft-menu {
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
}
.nft-menu .menu {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}
.nft-menu .menu:nth-child(1) {
  top: 0;
}
.nft-menu .menu:nth-child(2) {
  top: 10px;
}
.nft-menu .menu:nth-child(3) {
  top: 20px;
}
.nft-menu:hover .menu:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}
.nft-menu:hover .menu:nth-child(2) {
  opacity: 0;
}
.nft-menu:hover .menu:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
}

.hide {
  display: none;
}

.menu:nth-child(2) {
  width: 18px;
}

@media (min-width: 768px) {
  header {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  header {
    width: 1280px;
    height: 100px;
  }
  .nft-menu {
    display: none;
  }
  nav {
    padding: 20px;
  }
  .hide {
    display: block;
  }
}
.btnSign {
  width: 152px;
  height: 60px;
  background-color: #A259FF;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.text-button {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.banner {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.banner-text {
  margin: auto;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
  color: #FFF;
  font-size: 28px;
}

.banner-description {
  color: #FFF;
  font-family: "Work Sans", sans-serif;
  font-size: 17px;
}

.banner-card {
  width: 315px;
  height: 100%;
  border-radius: 20px 20px 20px 20px;
  background-color: #3B3B3B;
  margin: auto;
  margin-left: 0;
}

.card-image {
  width: 315px;
  height: 216px;
  border-radius: 20px 20px 0px 0px;
}

.card-description {
  margin-left: 15px;
  font-weight: 600;
  font-size: 22px;
  font-family: "Work Sans", sans-serif;
  color: #FFF;
  margin-bottom: 0;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
}

.card-big {
  display: none;
}

.user-image {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.user-text {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFF;
}

.text-start {
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #FFF;
}

.banner-button {
  width: 315px;
  height: 60px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border: none;
  background-color: #A259FF;
  margin-top: 40px;
}

.banner-rating {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.rating-span {
  font-weight: 700;
  font-size: 22px;
  font-family: "Space Mono", monospace;
}

.hide-mobile {
  display: none;
}

.rating-text {
  display: flex;
  flex-direction: column;
  color: #FFF;
}

@media (min-width: 768px) {
  .banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
    margin: 60px 60px 0 50px;
  }
  .hide-mobile {
    display: block;
  }
  .card-image {
    width: 330px;
    height: 221px;
  }
  .banner-card {
    width: 330px;
  }
  .banner-description {
    font-size: 16px;
    margin-left: 10px;
  }
  .user-container {
    margin-left: 10px;
  }
  .banner-text {
    font-size: 38px;
  }
  .banner-button {
    width: 224px;
    height: 60px;
  }
  .hide-card {
    display: none;
  }
}
@media (min-width: 1440px) {
  .banner-card {
    width: 510px;
  }
  .banner {
    margin: 60px 60px 0 90px;
  }
  .card-image {
    width: 510px;
    height: 401px;
  }
  .banner-text {
    font-size: 67px;
  }
  .banner-description {
    font-size: 22px;
    text-transform: capitalize;
    width: 510px;
  }
  .banner-rating {
    justify-content: space-between;
    width: 500px;
  }
  .hide-card {
    display: none;
  }
}
.container {
  width: 375px;
  height: 100vh;
  background-color: #2B2B2B;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1280px;
  }
}